* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root{
  --princpalColor:#a5bcbc ;
  --navColor:  #09f;
  --textColor: black;
}


::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--navColor);
  border-radius: 6px; 
}

a{
  color: black;
}

nav {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX( -50%);
  background-color: var(--navColor);
  border-radius: 99999px;
  z-index: 10000;
}

nav ul {
  list-style-type: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
}

header{
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  padding: 1rem;
  background-color: var(--navColor);
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.moon{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sun{
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.text_important{
  color: var(--textColor);
}
.nav_item{
    cursor: pointer;
}

.icon_home{
  display: flex;
  flex-direction: column;
}
.main_text{
  background-color: var(--navColor);
  animation: abrir 3s ease-in-out;
}

.bi-laptop{
  width: 200px;
  height: 200px;
  margin: auto;
  animation: saltar 2s infinite;
}

.my_img img{
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

main{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:var(--princpalColor);
  margin: auto;
  position: relative;
}

.main_section{
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 1rem;
}

.name{
  color:var(--navColor) ;
}

article{
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
}

.card_about_me{
  display: grid;
  gap: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  padding: 1rem;
  margin-top: 1rem;
  background-color:var(--princpalColor);
}

.card_education{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#carouselExample{
  margin: auto;
}


.carousel-control-prev-icon{
  background-color: gray;
}

.carousel-control-next-icon{
  background-color: gray;
}

.card-body{
  background-color: var(--princpalColor)
}

.carousel-inner{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}


.proyects{
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.card{
  margin: auto;
}

.proyect{
  background-color:  var(--navColor);
  display: grid;
  gap: 1rem;
}

.btn-primary{
  background-color:  #E6E8A7;
}

section{
  background-color: var(--princpalColor);
  height: auto;
  padding: 2rem;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(59, 91, 198) 50%, var(--navColor) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.me{
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

#contact{
display: grid;
padding: 2rem;
height: 500px;
}

.info_contact{
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}

.buttons_section{
  display: flex;
  margin-top: 10px;
  gap: 1rem;
  justify-content: center;
}

.icon-tabler-mail{
  height: 3rem;
  width: 3rem;
}

.icon-tabler-brand-linkedin{
  height: 3rem;
  width: 3rem;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--princpalColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@keyframes saltar {
  0%, 100% {
    transform: translateY(0); /* Sin salto */
  }
  50% {
    transform: translateY(-50px); /* Salto hacia arriba */
  }
}

@keyframes abrir {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

body.dark-mode{
  --princpalColor:#0E110E ;
  --navColor:#0FC10E ;
  --textColor:#a5bcbc;
}
